---
layout: default
title: Projects
---
<div class="page-title">{{ page.title }}</div>
{% for post in site.posts %}
{% if post.categories contains "projects" %}
<div class="post">
    <a href="{{ post.url }}" class="post-link">
        <div class="post-title">
            {{ post.title }}
            <div class="post-details">
                    <i class="fa fa-calendar fa-fw"></i> {{ post.date | date: "%b %e, %Y" }}
            </div>
        </div>
    </a>
    <p>{{ post.excerpt }}</p>
</div>
{% endif %}
{% endfor %}
