<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>

		{% if page.tags %}
		<meta name="keywords" content="{{ page.tags }}"> 
		{% else %}  
		<meta name="keywords" content="portfolio,programmer,cpp,nandor szalma"> 
		{% endif %}  
		
		{% if page.title %}
		<meta name="twitter:title" content="{{ page.title }}">
		<meta property="og:title" content="{{ page.title }}">
		{% else %}  
		<meta name="twitter:title" content="{{ site.title }}">
		<meta property="og:title" content="{{ site.title }}">
		{% endif %}

		{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		<meta property="og:description" content="{{ page.description }}"> 
		<meta name="twitter:description" content="{{ page.description }}">
		{% else %}  
		<meta name="description" content="{{ site.introduction }}">
		<meta property="og:description" content="{{ site.introduction }}"> 
		<meta name="twitter:description" content="{{ site.introduction }}">
		{% endif %}
		
		{% if page.thumbnail %}
		<meta property="og:image" content="{{ site.baseurl }}{{ page.thumbnail }}">
		<meta name="twitter:image" content="{{ site.baseurl }}{{ page.thumbnail }}">
		{% else %}  
		<meta property="og:image" content="{{ site.baseurl }}/assets/img/share.jpg">
		<meta name="twitter:image" content="{{ site.baseurl }}/assets/img/share.jpg">
		{% endif %}

		<meta name="twitter:card" content="summary">
	<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">

		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
		<link rel="shortcut icon" href="/favicon.png" />
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" type="text/css" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		{% if page.mathjax %}
		<!-- Mathjax -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=default" type="text/javascript"></script>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
			  tex2jax: {
				inlineMath: [ ['$','$'], ["\\(","\\)"] ],
				processEscapes: true
			  }
			});
		  </script>
		
		<!-- End of Mathjax -->
		{% endif %}

		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/rouge.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/lightbox.css">
		<script type="text/javascript" src="/assets/js/jquery.js"></script>
		<script type="text/javascript" src="/assets/js/style.js"></script>
		<script type="text/javascript" src="/assets/js/lightbox.js"></script>

		{% include analytics.html %}
	</head>
	<body>
		<div class="titlebar">
			<div class="profile">
				<a href="/">
					<img src="/assets/img/avatar.jpg">
				</a>
				<div class="details">
					<div class="fullname">{{ site.fullname }}</div>
					<div class="profession">{{ site.profession }}</div>
					{% if site.twitter %}
					<a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter social-icon"></i></a>
					{% endif %}
					{% if site.github %}
					<a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github social-icon"></i></a>
					{% endif %}
					{% if site.gitlab %}
					<a href="https://gitlab.com/{{ site.github }}" target="_blank"><i class="fa fa-gitlab social-icon"></i></a>
					{% endif %}
					{% if site.linkedin %}
					<a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin-square social-icon"></i></a>
					{% endif %}
					{% if site.stackoverflow %}
					<a href="https://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank"><i class="fa fa-stack-overflow social-icon"></i></a>
					{% endif %}
					{% if site.thingiverse %}
					<a href="https://thingiverse.com/{{ site.thingiverse }}" target="_blank"><i class="fa fa-circle-o fa-thingiverse social-icon"></i></a>
					{% endif %}
				</div>
			</div>
			<div class="menu">
				<a href="/"><div>About</div></a>
				<a href="/skills"><div>Skills</div></a>
				<a href="/projects"><div>Projects</div></a>
				<a href="/articles"><div>Articles</div></a>
			</div>
		</div>
		<div class="content">
			{{ content }}
		</div>
		<div class="footer">
			{% capture year %}{{ site.time | date: "%Y" }}{% endcapture %}
			&copy; 2019{% if year != "2019" %}-{{ year }}{% endif %} Nándor Szalma
		</div>
	</body>
</html>
